<section class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis rerum harum eum aspernatur asperiores. Dolorum eveniet facilis magnam quos, iusto non voluptatem nulla, blanditiis cumque sed iste, porro ipsa neque?</p>
    </div>
</section>