<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App Nodejs and Mongodb</h1>
    <hr class="my-4">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium aut delectus, perferendis optio, dolor, quod fuga earum tenetur laborum recusandae ad qui eum! Dolorem reprehenderit optio ipsa labore esse consequuntur.</p>
    
</div>